:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.form{
  width:370px;
  height: 126px;
  background-color: rgb(34, 40,49);
  border-radius: 20px;

}

.input{
  background-color:white ;
  color: black;
  border-radius: 25px;
  position: center; 
}
.btn{
  border-radius: 15px;
  background-color: rgb(34, 40,49);
  position: absolute;
}
.login-p{
  position: absolute;
  width: 126px;
  height: 36px;
  left: 693px;
  top: 24px;

  font-family: 'IM FELL DW Pica SC';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: flex-end;

  color: #F0F0F0;

}

.formR{
 position: inherit;
  background-color: white;
  color:black ;
}
.input1{
  background-color:rgb(217,217,217) ;
  color: black;
  border-radius: 30px;

}